****/*.tar
****/*.pkl
****__pycache__
*****.pyc
#****/*.so
build
****/knn
/logs
/models
/.idea
/lib/logs
*.pth
/demo_result
*.zip
*.png
*.jpg
*.bak
*.dat
*.dir
*.cpp
*.cu
*.cu.o
*.so
/lib/lib/pointnet2_utils/tf_ops
/camera/test_image
/camera/test_result
*.npy
model/
dataset/
output.json
*.mp4
*.avi
*.weights
dataset/**
!diagram.jpg\
demo_data/